@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
html,body {
    height: 100%;
    width: 100%;
}
* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: "Bangers", "Helvetica";
    display:grid;
    background-color: rgb(202, 42, 42);
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto 50px 50px;
    grid-template-areas: 
        "h1"
        "h2"
        "qstn"
        "choices"
        "nav";
  }

h1{
  grid-area: h1;
  background-color: rgb(202, 42, 42);
  height: 100%;
  text-align: center;
  font-size: 40px;
  padding: 10px;
} 

h2{
  grid-area: h2;
  background-color: white;
  height: 100%;
  text-align: center;
  padding: 25px;
}
.question-container{
  grid-area: qstn;
  height: 100%;
  background-color: white;
  height: 300px;
  font-size: 25px;
  padding: 35px;
  text-align: center;
}
.option-container{
  grid-area: choices;
  height: 100%;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next,.begin, .choice{
  background-color: black;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 100px;
  font-size: 17px;
  border-style: solid;
  border-color: black;
  height: 100%;
 
}

.choice:hover{
  background-color: green;
  color: white;

}
.next:hover{
  background-color: green;
  color: white;
}
.begin:hover{
  background-color: green;
  color: white;
}


.navigation{
  grid-area: nav;
  height: 100%;
  background-color: white;
  padding-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.result{
  height: 100%;
  font-size: 30px;
  height: 50px;
  text-align: center;
  padding: 20px;
  background-color: white;
}

